.alertBodyContainer
{
    background-image: url(/assets/images/css/hp-array.jpg);
    background-repeat: no-repeat;
    background-position: center -4em;
}

html.is-alert
{
    background: url(/assets/images/css/bg.jpg);
}
