$u-VCard__org--font: bold 1em $sans-serif;

$u-lFooter--fontSize: .9rem;

$u-NavSite__level--mobileBorderColor: #888;
$u-NavSite__level--borderColor: #CCC3B8;

$u-NavSite__level--1--mobileColor--hover: #aaa;
$u-NavSite__level--1--mobileColor--open: #fff;
$u-NavSite__level--X--mobileColor--hover: #aaa;
$u-NavSite__level--X--mobileColor--open: #fff;

$u-NavSite__level--1--color--hover: #000;
$u-NavSite__level--1--color--open: #000;
$u-NavSite__level--X--color--hover: #000;
$u-NavSite__level--X--color--open: #000;

$u-Bio__title--font: italic normal 1em $sans-serif;
$u-Bio__title--color: #888;

$u-BreadCrumbs__item__separator: #aaa;

$u-VCard__site--linkColor: #fff;
$u-VCard__site--linkColorHoverFocus: #ccc;


$mainContentModule__header--font: bold 1.2em $sans-serif;
$mainContentModule--font: 100 .9em $serif;

$u-Menu__close--iconColor: #aaa;
$u-Menu__close--iconColorHoverFocus: #fff;
$u-Search__close--iconColor: #aaa;
$u-Search__close--iconColorHoverFocus: #fff;