/*
Error: File to import not found or unreadable: PATH_CENTRAL_SASS/_config.
       Load paths:
         /Users/csilverman/Documents/dev/in-github/buildkit/basictools
         /Users/csilverman/Documents/dev/in-github/buildkit/core-modules/_modules/articleindex/articleindex-basic
         /Users/csilverman/Documents/dev/in-github/buildkit/core-modules/_platforms/mailchimp/signup-basic
         /Users/csilverman/Documents/dev/in-github/buildkit/layouts/l--centered-content
         /Users/csilverman/Documents/dev/in-github/buildkit/fancylayout
         /Users/csilverman/Documents/dev/in-github/buildkit/vkit
         /Users/csilverman/Documents/dev/in-github/buildkit/storykit
         /Users/csilverman/Documents/dev/in-github/buildkit/core-modules/_modules/prevnext/prevnext-basic
         /Users/csilverman/Documents/dev/in-github/buildkit/layouts/l--story-basic-1
         /Users/csilverman/Documents/dev/in-github/v-projects/History/assets/sass
         Sass::Globbing::Importer
        on line 3 of /Users/csilverman/Documents/dev/in-github/v-projects/History/assets/sass/local-group.scss

1: // /Applications/MAMP/htdocs/chsilverman/history-hp
2: 
3: @import "PATH_CENTRAL_SASS/_config";
4: @import "_local-config";
5: @import "PATH_CENTRAL_SASS/local-group";
6: @import "_typography";
7: @import "_layout";
8: @import "_color";

Backtrace:
/Users/csilverman/Documents/dev/in-github/v-projects/History/assets/sass/local-group.scss:3
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:45:in `import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: PATH_CENTRAL_SASS/_config.\A        Load paths:\A          /Users/csilverman/Documents/dev/in-github/buildkit/basictools\A          /Users/csilverman/Documents/dev/in-github/buildkit/core-modules/_modules/articleindex/articleindex-basic\A          /Users/csilverman/Documents/dev/in-github/buildkit/core-modules/_platforms/mailchimp/signup-basic\A          /Users/csilverman/Documents/dev/in-github/buildkit/layouts/l--centered-content\A          /Users/csilverman/Documents/dev/in-github/buildkit/fancylayout\A          /Users/csilverman/Documents/dev/in-github/buildkit/vkit\A          /Users/csilverman/Documents/dev/in-github/buildkit/storykit\A          /Users/csilverman/Documents/dev/in-github/buildkit/core-modules/_modules/prevnext/prevnext-basic\A          /Users/csilverman/Documents/dev/in-github/buildkit/layouts/l--story-basic-1\A          /Users/csilverman/Documents/dev/in-github/v-projects/History/assets/sass\A          Sass::Globbing::Importer\A         on line 3 of /Users/csilverman/Documents/dev/in-github/v-projects/History/assets/sass/local-group.scss\A \A 1: // /Applications/MAMP/htdocs/chsilverman/history-hp\A 2: \A 3: @import \"PATH_CENTRAL_SASS/_config\";\A 4: @import \"_local-config\";\A 5: @import \"PATH_CENTRAL_SASS/local-group\";\A 6: @import \"_typography\";\A 7: @import \"_layout\";\A 8: @import \"_color\";"; }
